.app {
  text-align: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #242424;
}

.image {
  width: 100%;
  height: auto;
}

.tabContainer {
  background-color: #1e7e34;
}

.pageContainer {
  margin-top: 10px;
}

.text {
  color: #ffffff;
}



